:root {
    --main-blue: rgb(67,121,189);
    --main-gold: #ffc629;
    --main-gray: #54565a;
  }


.login-box {
    background: #fdfefe;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.login-logo{
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.login-logo-nav{
  width: 20vw;
  float: left;
  width: 100px;
  margin-left: 50px;
  margin-top: 10px;
}

.open-sans-font{
    font-family: 'Open Sans', sans-serif;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: var(--main-blue);
  }
  
  .button {
    background-color: var(--main-gold); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 14px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .button_green{
    background-color: #4CAF50;
  }
  .button_add{
    background-color: #4CAF50;
    color: white;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 25px;
  }
  .button_red{
    background-color: #f44336;
  }
  .button_right{
    margin-right: 50px;
  }
  .button:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
  }
  .button.button_add:hover {
    background-color: rgb(99, 216, 103);
    color: white;
  }
 
 

  .a-plain{
    color: black;
    text-decoration: none;
}


  .iframe-div{
    border-top: 1px solid var(--main-blue);
    border-bottom: 50px solid var(--main-blue);
    border-right: 50px solid var(--main-blue);
    border-left: 50px solid var(--main-blue);
  }
  .edit-div{
    background-color: white;
    border-top: 1px solid var(--main-blue);
    border-bottom: 50px solid var(--main-blue);
    border-right: 50px solid var(--main-blue);
    border-left: 50px solid var(--main-blue);
    text-align: center;
    padding: 25px;
  }

  iframe {
    margin:auto;
    border-top: 1px solid var(--main-gray);
    display:block;
}

* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline .input_url{
  flex: 1 1 auto;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #f44336;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
 .form-inline button.button_add{
  background-color: #4CAF50;
  color: white;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-top: 25px;
}
.form-inline button.button_yellow{
  padding: 10px 20px;
  background-color: var(--main-gold);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
 
}

.form-inline button:hover {
  background-color: #d4d4d4;
}
