{% extends "navlayout.html"%}
{% block title %}Edit Dashboards{% endblock %}
{% block navbar%}
<img src="static/pictures/logo2.png" class="login-logo-nav" alt="Caliber Public Safety logo"/>
<a style="float: right" class="a-plain" href="/logout" target="blank">
  <div class="button logout-button" style="right: 40px">Log Out</div>
</a>
<a style="float: left;" class="a-plain" href="/index" target="blank"><button class="button logout-button"
  style="left: 50px">Back to Dashboards</button></a>
{%endblock%}
{% block content %}
<div class="edit-div">
  <h1>Active Dashboard</h1>
{% for key in Dashboards.keys() %}
<form class="form-inline" action="/remove" method="post"  onSubmit="return confirm('Are you sure you wish to delete?');">
  <label for="text">Dashboard Name:</label>
  <input type="text" value="{{key}}" id="Dashboard" placeholder="Dashboard Name" name="dashboardName">
  <label for="pwd">Power BI URL:</label>
  <input class="input_url" type="url" value="{{Dashboards[key]}}" id="powerBIURL" placeholder="Power BI URL" name="powerBIURL">
  <!-- <button type="submit" name="submit_button" value="change"  class="button button_yellow">Submit Change</button> -->
  <button type="submit" name="submit_button" value="remove" class="button red">Remove</button>
</form>
{% endfor %}

</div>

<div class="edit-div">
  <h1>Enter New Dashboard</h1>
  <form class="form-inline" action="/newdash" method="post">
    <label for="text"> Dashboard Name:</label>
    <input type="text" id="Dashboard" placeholder="Dashboard Name" name="dashboardName">
    <label for="pwd">Power BI URL:</label>
    <input class="input_url" type="url"  id="powerBIURL" placeholder="Power BI URL" name="powerBIURL">
    <button type="submit" class="button submit">ADD</button>
  </form>
  <h1>{{Message}}</h1>
</div>



{% endblock %}