{% extends "navlayout.html"%}
{% block title %}Edit Dashboards{% endblock %}
{% block navbar%}
<a style="float: left;" class="a-plain" href="/index" target="blank"><button class="button button_red"
  style="float: left;">Back to Dashboards</button></a>
{%endblock%}
{% block content %}
<body style="background: var(--main-blue);"></body>
<div class="login-box">
{% for key in Dashboards.keys() %}
<form class="form-inline" action="">
  <label for="text">Dashboard Name:</label>
  <input type="text" value="{{key}}" id="Dashboard" placeholder="Dashboard Name" name="dashboardName">
  <label for="pwd">Power BI URL:</label>
  <input type="url" value="{{Dashboards[key]}}" id="powerBIURL" placeholder="Power BI URL" name="powerBIURL">
  <button type="submit">ADD</button>
</form>
{% endfor %}
</div>
{% endblock %}