{% extends "navlayout.html"%}
{% block title %}Dashboards{% endblock %}
{% block navbar %}
<a style="float: right" class="a-plain" href="/edit" target="blank">
  <button class="button button_green" style="float: right">
    Edit Dashboards
  </button>
</a>
{% endblock %}
{% block content %}
{% for key in Dashboards.keys() %}
<div class="iframe-div">
  <h1 class="open-sans-font" style="text-align: center">{{key}}</h1>
  <iframe width="100%" loading="lazy" height="800" src="{{Dashboards[key]}}" frameborder="0" allowfullscreen="true">
  </iframe>
</div>
{% endfor %}
{% endblock %}